.tr-data__td
    text-align: right
    &:first-child
        text-align: left
        width: 35%
        background-color: coral
    &:last-child
        text-align: center
.tr-data__color
    border-left: 7px solid
    box-sizing: border-box 