.tr-data-small
    display: flex
    flex-direction: column
    
.tr-data__td-small
    display: flex
    justify-content: space-between
    
.tr-data__td-small-color-square
    height: 14px;
    width: 14px;
    border-radius: 3px;